flask==3.1.1
flask-socketio==5.5.1
RPi.GPIO==0.7.1
adafruit-circuitpython-pca9685==3.4.17
adafruit-circuitpython-motor==3.4.15
smbus2==0.5.0
PyYAML==6.0.2
picamera2==0.3.25
gevent==24.11.1
gevent-websocket==0.10.1
pyserial==3.5
